
<div class="span12" id="photo">

</div>
<div class="span4 hide">
	<div class="row">
		<div class="span4 page-header">推荐的照片主题</div>
	</div>
</div>

<textarea id="tmpl-photo" class="hidden">

<div class="row thumblist">
	<div class="span12 page-header">最近更新的照片主题</div>
 <% for (var i = 0; i < list.length; i++) { %>
	<div class="span2">
		<div class="photo">
			<a href="#/photo/<%=list[i]["topicid"] %>">
				<img src="<%=list[i]["photo"]%>"  title="<%=list[i]["photo_desc"]%>" width="270"/>
			</a>
		</div>
		<h5><%=list[i]["title"]%></h5>
		<p class="thumblist-author"><%=list[i]["author"]%> 于 <%=list[i]["updated_at"]%> 更新，<span class="label"><%=list[i]["photo_count"]%></span> 张照片</p>
		<p class="thumblist-desc">摘要：<%=list[i]["description"]%></p>
	</div>
 <% } %>
	<div class="span12">
		<a class="btn" href="/#/photolist">上一页</a>
		<a class="btn" href="/#/photolist">下一页</a>
	</div>
 </div>
</textarea>