
<div class="span9" id="photoview">

</div>
<div class="span3">
	
</div>

<textarea id="tmpl-photoview" class="hidden">
<div class="row">
	<div class="span9 page-header"><h2><%=title%></h2></div>
	<div class="span9 photo-desc">
		<p class="muted">
		<%=author%> 于 <%=updated_at%> 更新，<span class="label label-info"><%=photo_count%></span> 张照片
		（点击小图可以浏览大图）
		</p>
		
		<% if( description ){ %>
		<div class="alert alert-info">
		<dl class="dl-horizontal">
		  <dt>摘要：</dt>
		  <dd><%=description%></dd>
		</dl>
		</div>
		<% } %>
	</div>
</div>

<div class="row thumblist">
 <% for (var i = 0; i < list.length; i++) { %>
	<div class="span3">
		<div class="photo">
			<img name="photoview" src="<%=list[i]["photo"]%>" title=""/>
			<span class="label photo_order" title="第 <%=i+1%> 张照片"><%=i+1%></span>
		</div>
		<p class="thumblist-desc hide"><%=list[i]["description"]%> 拍摄时间 <%=list[i]["shooting_time"]%></p>
	</div>
 <% } %>
</div>


</textarea>