/* before bootstrap.css */

body{padding-top:50px;}
.list-title li{margin-top:10px;}
.hidden{display:none;}
#loading {
  text-align: center;
  padding: 170px 0;
  margin-top: 70px;
}

#container{
	min-height:450px;
}

.photo-list img{width:100%;}
.photo-list .photo{position:relative;}
.photo-caption{position:absolute; left:0; bottom:0; right:0;line-height:18px;padding:15px; color:#FFF; background:#333; background:rgba(0, 0, 0, 0.75); opacity: 0.75; margin-bottom:0; font-size:14px; font-weight:bold;}

/* Footer
-------------------------------------------------- */

.footer {
  text-align: center;
  padding: 20px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
}
.footer p {
  margin-bottom: 0;
  color: #777;
}