body{padding-top:50px;}
.list-title li{margin-top:10px;}
#loading {
  text-align: center;
  padding: 170px 0;
  margin-top: 70px;
}

#container{
	min-height:450px;
}




/* Footer
-------------------------------------------------- */

.footer {
  text-align: center;
  padding: 20px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
}
.footer p {
  margin-bottom: 0;
  color: #777;
}