/* before bootstrap.css */

body{padding-top:50px;}
.list-title li{margin-top:10px;}
.hidden{display:none;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
#loading {
  text-align: center;
  padding: 170px 0;
  margin-top: 70px;
}

#container{
	min-height:450px;
}

#upload-list .span2{height:127px; overflow:hidden; margin-top:30px; box-shadow:1px 4px 8px rgba(0, 0, 0, 0.4);border-radius:3px;}

.photo-list img{width:100%;}
.photo-list .photo{position:relative; box-shadow:2px 4px 8px rgba(0, 0, 0, 0.4); border-radius:4px;}
.photo-caption{position:absolute; left:0; bottom:0; right:0;line-height:18px;padding:15px; color:#FFF; background:#333; background:rgba(0, 0, 0, 0.75); opacity: 0.75; margin-bottom:0; font-size:14px; font-weight:bold;}

/* Footer
-------------------------------------------------- */

.footer {
  text-align: center;
  padding: 20px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
}
.footer p {
  margin-bottom: 0;
  color: #777;
}
.footer a {
  margin: 0 4px;
}