<div class="row" id="row-index">
	<div class="span9">
 
	</div>
	<div class="span3">
		
	</div>
	
	<script id="photo-list" type="text/html" class="hidden">
	<ul class="unstyled">
     <% for (var i = 0; i < list.length; i++) { %>
		<li>
		<h3><a href="#/view/<%=list[i]["id"] %>"><%=list[i]["title"] %></a></h3>
		<p class="muted"><%=list[i]["author"]%>更新于<%=list[i]["date"]%>，有照片<%=list[i]["photo_count"]%>张</p>
		<p class="well"><%=list[i]["desc"]%></p>
		<a href="#/view/<%=list[i]["id"] %>"><img src="<%=list[i]["photo"]%>" /></a>
		<p class="well">
			<%=list[i]["photo_desc"]%>
			<br />
			<a href="#/view/<%=list[i]["id"] %>">浏览关于 “<%=list[i]["title"] %>” 的更多照片...</a>
		</p>
		</li>
     <% } %>
	</ul>
	</script>
</div>