
<div class="span8" id="photo-id">

</div>
<div class="span4">
	
</div>

<textarea id="tmpl-photo-id" class="hidden">
<ul class="unstyled photo-list">
	<li>
	<h2>
	<%=title%>
	<small><%=author%>于 <%=date%> 更新，<%=photo_count%> 张照片</small>
	</h2>
	<p class="muted">摘要：<%=desc%></p>
	</li>
	
 <% for (var i = 0; i < list.length; i++) { %>
	<li class="photo">
	<img src="<%=list[i]["photo"]%>" />
	<p class="photo-caption"><%=list[i]["photo_desc"]%></p>
	</li>
 <% } %>
</ul>
</textarea>